@(title: String)(implicit request:Request[_])

@main(title) {
	<h1>Page 2</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar non felis eu blandit. Praesent ullamcorper aliquet erat, cursus accumsan lorem vulputate eget. 
	Nunc eu mattis nunc. Quisque at nibh at arcu sollicitudin sagittis. Curabitur cursus, nibh ut porttitor porttitor, orci metus ultricies nisi, nec dapibus velit justo et purus. 
	Donec non libero eros. In sem tortor, semper eget fermentum non, fermentum a mi. Mauris sed velit vel neque congue sollicitudin. Mauris vitae eleifend dolor.</p>
	<p>Sed et accumsan urna, venenatis tristique justo. Integer non augue a odio consequat porttitor. Aenean iaculis consequat elit ut lacinia. Donec feugiat mauris in elit rutrum euismod. 
	Vivamus sed augue dui. Phasellus venenatis, mauris vitae mollis pharetra, felis ante bibendum nisi, eu lacinia nibh magna blandit nulla. Duis malesuada nec quam et aliquet. 
	Curabitur interdum vestibulum orci, quis ultrices magna feugiat vitae. Curabitur cursus odio a tortor rutrum, auctor ullamcorper nisl faucibus. 
	Integer mollis interdum lectus, vitae cursus risus convallis ut. Fusce sagittis erat aliquet sem imperdiet, quis iaculis metus convallis. Mauris ac justo id felis tincidunt molestie.</p>
}
