@(title: String)(implicit request:Request[_])

@main(title) {
	<h1>Page 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non dui nibh. Fusce pharetra dapibus ex, eget sagittis magna tempor eget. 
	Donec porta consectetur sem vel efficitur. In hac habitasse platea dictumst. Praesent vehicula orci sed eros ornare interdum. 
	Etiam venenatis accumsan velit nec dictum. Mauris libero erat, dignissim sit amet arcu vel, facilisis aliquam nisl. Nulla malesuada lobortis commodo.</p>
	<p>Morbi quis varius nisi. Etiam placerat augue accumsan urna dignissim rutrum. Nulla sit amet congue eros. Praesent non sollicitudin neque, sed vulputate nisl. 
	In ullamcorper lorem dapibus lobortis convallis. Maecenas tempor erat in mauris condimentum volutpat. Donec ut rutrum mi. Quisque sollicitudin massa in est interdum, at pellentesque urna eleifend. 
	Donec cursus scelerisque lorem a tempus. Curabitur sem libero, vestibulum quis ex vel, vehicula maximus eros. Phasellus bibendum sed libero eu lobortis. 
	Morbi elementum convallis placerat. Vestibulum feugiat vulputate tincidunt.</p>
}
